# General
DEBUG_MODE=1

# MongoDB
MONGO_HOST=mongodb://localhost:27017/webhook_notifications

# Basic AUTH
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=secret

# RabbitMQ
RABBITMQ_ENABLE=1
RABBITMQ_HOST=redis
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USER=guest
RABBITMQ_PASS=guest